* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* FULL PAGE BACKGROUND */
body {
    background-image: url('1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}



/* NAVBAR */
.navbar {
    background: rgba(126, 123, 123, 0.6);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section h1 {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px 60px;
    border-radius: 12px;
    text-align: center;
}

.hero-text h2,
.hero-text p {
    color: rgb(255, 255, 255);
}

.btn {
    background: green;
    padding: 10px 18px;
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

/* MENU */
.menu-section, .story-section, .order-section, .contact-section {
    padding: 50px;
    text-align: center;
}

.menu-section h2 {
    color: white;
    margin: 0 0 2vh;
}

/* MENU GRID */
.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu-item {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 12px;
    width: 330px;
}

.order-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.story-section h2,
.story-section p {
    color: white;
}

.order-section h2,
.order-section p {
    color: white;
}

.contact-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-section h2,
.contact-section p {
    color: white;
}